<footer class="bg-dark text-white pt-5 pb-4" id="footer">
    <div class="container">
        <div class="row">

            <!-- Sol Bölüm: İletişim -->
            <div class="col-md-6 mb-4">
                <a class="d-flex align-items-center mb-3 text-white text-decoration-none" href="index.html">
                    <img src="~/fotogen/public/assets/img/icons/dark-logo-icon.png" alt="Logo" width="30" height="30">
                    <span class="fw-bold ms-2">Berkan</span><span class="fw-light">Turgut</span>
                </a>
                <p class="mb-2">
                    <i class="fas fa-map-marker-alt me-2"></i>
                    <a class="text-white text-decoration-none" href="https://share.google/xPq6IJ7Vtb17QnM7K">
                        Ankara/Türkiye
                    </a>
                </p>
                <p class="mb-2">
                    <i class="fas fa-phone me-2"></i>
                    <a class="text-white text-decoration-none" href="tel:+905059884677">Ulaşmak için Tıkla</a>
                </p>
                <p class="mb-2">
                    <i class="fas fa-envelope me-2"></i>
                    <a class="text-white text-decoration-none" href="mailto:scrscrumbledegg@gmail.com">berkanburakturgut@gmail.com</a>
                </p>
            </div>

            <!-- Sağ Bölüm: Sosyal Medya -->
            <div class="col-md-6 d-flex align-items-center justify-content-md-end">
                <div class="d-flex gap-3">
                    <a class="text-white fs-4" href="https://github.com/bhmberkan" target="_blank"><i class="fab fa-github"></i></a>
                    <a class="text-white fs-4" href="https://www.linkedin.com/in/berkan-turgut-2a277a232/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="text-white fs-4" href="https://www.instagram.com/bhmberkan" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

        </div>
      
    </div>
</footer>
