
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}




<main class="main" id="top">
 

    @Html.Action("NavBarPartial")

    <section class="pt-3 pb-9 position-relative">
        <div class="container px-md-5">

            <div class="row g-3" data-isotope='{"layoutMode":"packery"}'>
                <div class="col-lg-3 col-sm-6 col-12 shortfilms gallery-item isotope-item"><img class="img-fluid w-100" src="~/fotogen/public/assets/img/gallery/1.png" alt="" data-glightbox="title: To infinity and beyond; description: Iching biching chiching" /></div>
                <div class="col-lg-3 col-sm-6 col-12 shortfilms gallery-item isotope-item"><img class="img-fluid w-100" src="~/fotogen/public/assets/img/gallery/2.png" alt="" data-glightbox="title: To infinity and beyond; description: Iching biching chiching" /></div>
                <div class="col-lg-6 col-12 shortfilms gallery-item isotope-item"><img class="img-fluid w-100" src="~/fotogen/public/assets/img/gallery/3.png" alt="" data-glightbox="title: To infinity and beyond; description: Iching biching chiching" /></div>
                <div class="col-lg-6 col-12 professional gallery-item isotope-item"><img class="img-fluid w-100" src="~/fotogen/public/assets/img/gallery/4.png" alt="" data-glightbox="title: To infinity and beyond; description: Iching biching chiching" /></div>
                <div class="col-lg-3 col-sm-6 col-12 professional gallery-item isotope-item"><img class="img-fluid w-100" src="~/fotogen/public/assets/img/gallery/5.png" alt="" data-glightbox="title: To infinity and beyond; description: Iching biching chiching" /></div>
                <div class="col-lg-3 col-sm-6 col-12 professional gallery-item isotope-item"><img class="img-fluid w-100" src="~/fotogen/public/assets/img/gallery/6.png" alt="" data-glightbox="title: To infinity and beyond; description: Iching biching chiching" /></div>
                <div class="col-lg-3 col-sm-6 col-12 commercial gallery-item isotope-item"><img class="img-fluid w-100" src="~/fotogen/public/assets/img/gallery/7.png" alt="" data-glightbox="title: To infinity and beyond; description: Iching biching chiching" /></div>
                <div class="col-lg-3 col-sm-6 col-12 commercial gallery-item isotope-item"><img class="img-fluid w-100" src="~/fotogen/public/assets/img/gallery/8.png" alt="" data-glightbox="title: To infinity and beyond; description: Iching biching chiching" /></div>
                <div class="col-lg-6 col-12 commercial gallery-item isotope-item"><img class="img-fluid w-100" src="~/fotogen/public/assets/img/gallery/9.png" alt="" data-glightbox="title: To infinity and beyond; description: Iching biching chiching" /></div>
            </div>
        </div>
    </section>

    @Html.Action("FooterPartial", "Main")


    @Html.Action("SectionPartial", "Main")



    <script src="~/fotogen/public/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="~/fotogen/public/vendors/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/fotogen/public/vendors/isotope-packery/packery-mode.pkgd.min.js"></script>
    <script src="~/fotogen/public/vendors/glightbox/glightbox.min.js"></script>
    <script src="~/fotogen/public/vendors/fontawesome/all.min.js"></script>
</main>