@using BerkanPortfolyo.Models.Entity
@model List<Photo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}




<main class="main" id="top">
 

    @Html.Action("NavBarPartial")

    <section class="pt-3 pb-9 position-relative">
        <div class="container px-md-5">

            <div class="row g-3" data-isotope='{"layoutMode":"packery"}'>

                @foreach (var x in Model)
                {
                    <div class="col-lg-3 col-sm-6 col-12 shortfilms gallery-item isotope-item"><img class="img-fluid w-100" src="@x.PhotoUrl" alt="" data-glightbox="title: To infinity and beyond; description: Iching biching chiching" /></div>


                }


            </div>
        </div>
    </section>

    @Html.Action("FooterPartial", "Main")


    @Html.Action("SectionPartial", "Main")



    <script src="~/fotogen/public/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="~/fotogen/public/vendors/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/fotogen/public/vendors/isotope-packery/packery-mode.pkgd.min.js"></script>
    <script src="~/fotogen/public/vendors/glightbox/glightbox.min.js"></script>
    <script src="~/fotogen/public/vendors/fontawesome/all.min.js"></script>
</main>